/*--------------------------------------------------------------
# code by Lee 10-06-15
--------------------------------------------------------------*/


/* TEXT UTILITIES */

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.text-center {
	text-align: center;
}

.text-justify {
	text-align: justify;
}

.text-nowrap {
	white-space: nowrap;
}

.text-lowercase {
	text-transform: lowercase;
}

.text-uppercase {
	text-transform: uppercase;
}

.text-capitalize {
	text-transform: capitalize;
}


/* Large Devices, Wide Screens */

@media only screen and (max-width: 1200px) {}


/* Medium Devices, Desktops */

@media only screen and (max-width: 992px) {}


/* Small Devices, Tablets */

@media only screen and (max-width: 768px) {
	.md-resize{
		width: 60%;
	}
	.sidebar{
		width: 40%;
	}
}


/* CUSTOM STYLES */

body {
	min-width: 500px; 
	width: auto !important;  
	width: 500px;  
}

body * {
	font-family: 'PT Sans', sans-serif;
}
section{
	&:before, &:after{
		display: table;
		content: " ";
		clear: both;
	}
}
.expand{
	content: url('../images/caret-right.png');
}
.collapse{
	content: url('../images/caret-bottom.png');
}
.md-resize{
	width: 70%;
}
.login {
	background-color: #414652;
	color: #fff;
	text-transform: capitalize;
	border-radius: 10px;
	height: 400px;
	.status img {
		margin: 0px 3px;
	}
	.switch img {
		margin: 0px 10px;
	}
	.main {
		padding: 30px 10px;
	}
	.close {
		margin: 0px -10px;
		text-align: right;
	}
	input {
		border-radius: 5px;
		border: 0px;
		padding: 5px 40px;
		width: 100%;
		color: #4b4b4b;
	}
	.form-group {
		margin: 15px 0px;
		&.user {
			position: relative;
			&:before {
				content: "";
				background: url('../images/user-o.png') no-repeat center center;
				width: 11px;
				height: 14px;
				position: absolute;
				left: 12px;
				top: 7px;
				z-index: 99;
			}
			&:after {
				content: "";
				background: url('../images/caret-right-mini.png') no-repeat center center;
				width: 11px;
				height: 14px;
				position: absolute;
				right: 7px;
				top: 7px;
				z-index: 99;
			}
		}
		&.pass {
			position: relative;
			margin-bottom: 50px;
			&:before {
				content: "";
				background: url('../images/key.png') no-repeat center center;
				width: 21px;
				height: 10px;
				position: absolute;
				left: 7px;
				top: 10px;
				z-index: 99;
			}
		}
	}
	.fingerprint {
		background: url('../images/fingerprint.png') center center no-repeat #fff;
		border: 0px;
		border-radius: 50%;
		height: 65px;
		width: 65px;
	}
	.switch a {
		color: #fff;
	}
}
.title-bar{
	background-color: #424652;	
	padding: 10px 0px;
	display: block;	
	-webkit-user-select: none;
	-webkit-app-region: drag;
	img{
		margin: 0px 5px;
	}
	img, a{		
		-webkit-app-region: no-drag;
	}
	h1{
		color: #fff;
		text-align: center;
		margin: 0px;
		font-size: 16px;
		font-weight: normal;
	}
}
.main-menu {
	background-color: #e4e4e4;
	height: 50px;
	border-bottom: #bbbbbb solid 1px;
	>div {
		padding: 10px;
	}
	.nav-icon {
		margin: 0px 10px;
		padding: 0px;
		list-style: none;
		li {
			display: inline-block;
			float: left;
			padding: 0px 5px;
			a {
				width: 24px;
				height: 24px;
			}
		}
	}
	.search {
		border-radius: 5px;
		border: 0px;
		padding: 5px;
		width: 200px;
		background: url('../images/magnify.png') 95% 50% no-repeat #fff;
	}
	.show-hide {
		padding: 5px;
	}
	.sidebar{
		width: 30%;
		display: block;
		min-height: 92%;
		height: auto;
		position: absolute;
		right: 0px;
		background-color: #eeeeee;
		display: none;
	}	
}

.main-content {
	ul {
		list-style: none;
		margin: 0px;
		padding: 0px;
	}
	.folders>li {
		background: #eaeaea;
		position: relative;	
		>a{
			margin-left: 50px;
			img{
				margin: 10px 5px;
			}
		}
		&:before {
			content: "";
			background: url('../images/folder.png') no-repeat center center;
			width: 25px;
			height: 25px;
			left: 15px;
			position: absolute;
		}
		a {
			color: #424652;
			font-weight: bolder;
			font-size: 18px;
			text-transform: capitalize;
		}		
	}
	.item{	
		background: #fff;
		margin: 0px;
		padding: 0px;
		display: none;
		>li{			
			&:before, &:after{
				display: table;
				content: " ";
				clear: both;
			}
			&:hover{
				background-color: #ff6600;				
				p{
					color: #fff;
				}
			}
		}
		p{
			margin: 0px;
			color: #6e6e6e;
		}
		.title{
			font-size: 18px;
			font-weight: bolder;
		}
		.favorite, .option{
			text-align: center;
			padding: 5px 0px;
		}
		.option img{
			margin: 0px 7px;
		}
	}
}